body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid rgb(200, 200, 200);
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}
at
h1 {
  color: salmon
  text decoration
}

h1:hover {
  text-decoration: underline;
  
}
tr:hover td  {
  background-color: rgb(220, 220, 220);
  border:1px solid red
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(255,102,0 );
  color: rgb(32, 241, 126);
}